BACKEND_PORT=8081
FRONTEND_PORT=3000
ELASTICSEARCH_PORT=9200

DB_HOST=host.docker.internal
DB_PORT=3306
DB_NAME=food_recommend
DB_USER=root
DB_PASSWORD=123456

SEARCH_ENGINE=auto
SPRING_ELASTICSEARCH_URIS=http://elasticsearch:9200
SEARCH_ES_INDEX_ALIAS=recipes_search
SEARCH_ES_INDEX_NAME=recipes_search_v2
SEARCH_ES_BATCH_SIZE=500
SEARCH_ES_AUTO_CREATE_INDEX=true
NGINX_API_UPSTREAM=http://backend:8081

JWT_SECRET=letMeCookSecretKey2024FoodRecommendationSystem

ALIYUN_OSS_ENABLED=false
ALIYUN_OSS_ENDPOINT=oss-cn-beijing.aliyuncs.com
ALIYUN_OSS_ACCESS_KEY_ID=
ALIYUN_OSS_ACCESS_KEY_SECRET=
ALIYUN_OSS_BUCKET_NAME=recipe-images
