DB_HOST=host.docker.internal
DB_PORT=3306
DB_NAME=food_recommend
DB_USER=root
DB_PASSWORD=123456

JWT_SECRET=letMeCookSecretKey2024FoodRecommendationSystem

ALIYUN_OSS_ENDPOINT=oss-cn-beijing.aliyuncs.com
ALIYUN_OSS_ACCESS_KEY_ID=REPLACE_WITH_REAL_ACCESS_KEY_ID
ALIYUN_OSS_ACCESS_KEY_SECRET=REPLACE_WITH_REAL_ACCESS_KEY_SECRET
ALIYUN_OSS_BUCKET_NAME=recipe-images
